
Library
Logs
Save
Temp
Build
ProjectSettings
UserSettings
Assets/StreamingAssets*
Assets/Jade/Scene
Assets/Jade/Scene_Garden
Assets/Jade/Mat_Garden
Assets/Jade/Inputs
Assets/Jade/new_hm
Assets/Jade/Blend_Mask